* {
  padding: 0;
  margin: 0;
}
.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
  overflow: hidden;
}

.textLayer > div {
  color: #000;
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;
}


canvas {
  display: block;
  opacity: 0.2;
}

.page {
  direction: ltr;
  width: 816px;
  height: 1056px;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  background-color: white;
}
